<!--<p>
  recipe-detail works!
</p>-->


<!--
<nav style="background-color:gray;color:red;padding:5px;margin:10px">
  <a routerLink="/header" style="padding:10px;margin:10px;text-decoration:none">header</a>
  <a routerLink="/recipes" style="padding:10px;margin:10px;text-decoration:none">recipes</a>
  <a routerLink="/shopping-list" style="padding:10px;margin:10px;text-decoration:none">shopping-list</a>
  
</nav>

<router-outlet></router>-->

<div class="chilli chicken">
  <img src="../assets/chilli chicken.jpg" alt="ChilliChicken" width="500px;padding:5%">
  <h2 style="float:right;margin-right:45px;margin-top:10%;color:darkmagenta">Details of Chilli Chicken</h2>
  <p style="float:right;margin-top:18%;margin-right:-15%">Cost:$15</p>
   <h5 style="float:right;margin-top:15%;margin-right:-18%">Delisious Chilli Chicken.</h5>
</div>

<div class="chicken lollipop">
  <img src="../assets/chicken lollipop.JPG" alt="Chicken Lolli Pop" style="width:500px;float:right;padding:5%">
  <h2 style="float:left;margin-left:45px;margin-top:10%;color:slateblue">Details of Chicken Lollipop</h2>
  <p style="float:left;margin-top:18%;margin-left:-15%">Cost:$30</p>
     <h5 style="float:left;margin-top:15%;margin-left:-18%">Delisious Chicken Lollipop.</h5>
</div>

<div class="chicken burger">
  <img src="../assets/chicken burger.jpeg" alt="ChilliChicken" width="500px:padding:5%;margin:5%">
  <h2 style="float:right;margin-right:45px;margin-top:10%;color:mediumorchid">Details of Chilli Chicken</h2>
  <p style="float:right;margin-top:17%;margin-right:-15%">Cost:$15</p>
   <h5 style="float:right;margin-top:15%;margin-right:-18%">Delisious Chilli Chicken.</h5>
</div>
<!--<div class="chicken burger"></div>-->